*.cache/
*.m4
m4/
.libs
.deps
*.o
ltmain.sh
Makefile
Makefile.in
*.guess
*.h.in
missing
depcomp
*.sub
compile
configure
*.status
*.log
stamp-h1
libtool
.dirstamp
config.h
*.lo
*.la
backend_test
build/*